<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="basket">
	<insert id="insert" parameterType="com.brave.chockpaler.basket.dto.BasketDto">
		INSERT INTO basket
		(item_num, id, name, count, price, img)
		values(#{item_num}, #{id}, #{name}, #{count}, #{price}, #{img})
	</insert>
	<select id="getList" parameterType="com.brave.chockpaler.basket.dto.BasketDto" resultType="com.brave.chockpaler.basket.dto.BasketDto">
		SELECT * FROM basket
		WHERE id=#{id}
	</select>
	<insert id="buyInsert" parameterType="basketDto">
		INSERT INTO buy
		(order_num, id, addr)
		VALUES()
	</insert>
	<select id="getData" parameterType="int" resultType="basketDto">
		SELECT * FROM basket
		WHERE item_num = #{item_num}
	</select>
	<update id="update" parameterType="basketDto">
		UPDATE basket
		SET count = count + #{count}, price = price + #{price}
		WHERE item_num = #{item_num}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM basket
		WHERE item_num = #{item_num}
	</delete>
</mapper>