<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Items">
	<sql id="searchCondition">
		<choose>
			<when test="item_type == ''">
				WHERE 1=1
			</when>
			<when test="item_type == 'cookie'">
				WHERE item_type = 'cookie'
			</when>
			<when test="item_type == 'beverage'">
				WHERE item_type = 'beverage'
			</when>
		</choose>
	</sql>
	
	<insert id="insert" parameterType="itemsDto">
		INSERT INTO items
		(item_num, item_type, name, detail, price, img, remain_count, viewcount)
		VALUES (items_seq.NEXTVAL,#{item_type},#{name},#{detail},#{price}, #{img}, #{remain_count}, 0)
	</insert>

	<select id="getData" resultType="itemsDto" parameterType="int">
		SELECT * FROM items
		WHERE item_num = #{num }
	</select>
	
	<select id="getList" resultType="itemsDto" parameterType="Map">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT item_type, item_num, name, detail, img, price, regdate, remain_count
				FROM items
				<include refid="searchCondition"/>
				ORDER BY item_num DESC) result1)
		WHERE rnum BETWEEN #{pUtil.pageBegin} AND #{pUtil.pageEnd}
	</select>
	
	<select id="getItemCount" resultType="int" parameterType="String">
		SELECT COUNT(*) FROM
		items
			<if test="value == ''">
				WHERE name = #{value}
			</if>
	</select>
	
	<update id="updateViewCount" parameterType="int">
		UPDATE items SET
		viewcount = viewcount+1
		WHERE item_num = #{num }
	</update>
	
	<select id="searchList" parameterType="Map" resultType="itemsDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT item_type, item_num, name, detail, img, price, regdate, remain_count
				FROM items
				WHERE name like '%'|#{name}|'%'
				ORDER BY item_num DESC) result1)
		WHERE rnum BETWEEN #{pUtil.pageBegin} AND #{pUtil.pageEnd}
	</select>
</mapper>