<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ItemsMapper">
	<select id="getData" resultType="com.brave.chockpaler.items.dto.ItemsDto" parameterType="int">
		SELECT * FROM items
		WHERE num = #{num }
	</select>
	
	<select id="getList" resultType="com.brave.chockpaler.items.dto.ItemsDto">
		SELECT item_type, name, detail, price, regdate, remain_count FROM items
	</select>
	
	<select id="getItemCount" resultType="int">
		SELECT COUNT(*) FROM
		items
	</select>
</mapper>