<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
	<select id="getList" resultType="com.brave.chockpaler.notice.dto.NoticeDto">
		SELECT * FROM notice
	</select>
	
	<select id="getDto" parameterType="int" resultType="com.brave.chockpaler.notice.dto.NoticeDto">
		SELECT * FROM notice WHERE num = #{num }
	</select>
</mapper>