<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">
	<insert id="insert" parameterType="com.brave.chockpaler.review.dto.ReviewDto">
		INSERT INTO review(num, id, item_num, content, regdate)
		<choose>
			<when test="id == ''">
				VALUES(review_seq.NEXTVAL, '익명', #{item_num}, #{content}, sysdate)
			</when>
			<otherwise>
				VALUES(review_seq.NEXTVAL, #{id}, #{item_num}, #{content}, sysdate)
			</otherwise>
		</choose>
	</insert>
	
	<select id="select" resultType="com.brave.chockpaler.review.dto.ReviewDto">
		SELECT * FROM review
	</select>
</mapper>