<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userorder">
	<select id="getList" parameterType="String" resultType="userorderDto">
		SELECT item_num,name,price,item_type,img
		FROM items
		ORDER BY item_num ASC
	</select>
	<insert id="addOrder" parameterType="userorderDto">
		INSERT INTO items
		(item_num, item_type, name, price )
		VALUES(items_seq.nextval),#{item_num},#{item_type},#{name},#{price})
	</insert>
	<select id="getPrice" parameterType="int" resultType="int">
		SELECT price
		FROM items
		WHERE item_num=#{item_num}
	</select>
	<delete id="delete">
		DELETE FROM items 
		WHERE item_num=#{item_num}
	</delete>
	<select id="getData">
		SELECT item_num, name,price,item_type
		FROM items
		WHERE item_num=#{item_num}
		ORDER BY item_num ASC
	</select>
</mapper>